[Unit]
Description=Photo Booth GUI
After=default.target

[Service]
Environment=QT_WAYLAND_DISABLE_WINDOWDECORATION=1
Environment=QT_QPA_PLATFORMTHEME=qt5ct
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
ExecStart=bash /home/colin/simple_pi_photobooth/launch.sh
Restart=always
RestartSec=1
WorkingDirectory=/home/colin

[Install]
WantedBy=default.target
