[Unit]
Description=Kiosk Status Updater
After=graphical.target

[Service]
User=colin
Environment=DISPLAY=:0
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
ExecStart=bash /home/colin/simple_pi_photobooth/launch_s3_status.sh
Restart=always
RestartSec=1
WorkingDirectory=/home/colin/simple_pi_photobooth

[Install]
WantedBy=graphical.target
